body{
   background-color: #D3F4FF;

}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
  /* padding-top: 30px;
  padding-left: 20px; */
  line-height: 2rem;
}

h1{

font-family: 'Poppins', sans-serif;
font-weight: bolder;
font-size: 3rem;
color: black;
padding-top: 30px;
padding-left: 20px;
line-height: 4rem;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    font-weight: lighter;
    padding-top: 10px;

}

a:hover{
  color: black;
}


.nav-bar{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  color: black;
  font-weight:bold;
  padding-top: 20px;
  padding-right: 30px;

}

.bar{
  background-color: #B0DEFF;

}
.bar-text{
    color: black;
}

.main-section{
  margin-top: 70px;
  width: 80%;
  margin-left: 100px;
}
.main{
  background-color: #B0DEFF;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
   box-shadow: 10px 10px 10px #B0DEFF;
}

.text-fields{
  padding-left: 80px;

}
.text-field{
  background-color: #B0DEFF;
  border-width: thick;
  border-color: white;
}


.w3-input{
  width: 80%;
  border-radius: 7%;
}




.footer{

  padding: 40px 30px;
  background-image: linear-gradient( #B0DEFF, #82ACFF);
  margin-top: 80px;
  color: black;
}

.footer-column{
  align-items: center;
}


.icons{

  padding-right: 20px;
  border-radius: 30%;

}




.register-button{
  margin-left: 20px;
  width: 35%;
  height: 10%;
  margin-top: 30px;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  color:  black;
  background-color: #B2DFFB;
  font-weight: bolder;

}

.register-button:hover{
  background-color: white;
}



@media screen and (max-width:1028px){

.bar{
  text-align: center;

}
.main-section{
  text-align:center;

}

.footer{
  margin-top: 80px;
}

.icons{
  padding-right: 35px;
}

}
